*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    width: 100%;
    background-color: #6F6AF7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 25px;
    position: sticky;
    top: 0px;
}

ul,li{
    list-style-type: none;
    display: inline-block;
}
.center{
    width: 65%;
}

a{
    color: white;
}

.logo{
    width: 120px;
    font-family: 'Delius Unicase';
    font-size: 30px;
}
.menu{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.Side{
    height: 24px ;
}

.side {
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchhh{
    padding-bottom: 2px;
    background-color: white;
    border-radius: 15px;
    width: 170px;
    padding-left: 10px;
    padding-top: 2px;
    
}
#SearchBar{
height: 30px;
width: 120px;
background-color: transparent;
border: none;


}
.question{
    height: 17px;
}
#qq{
    height: 25px;
    padding-top: 10px;
}

#Down_arrow{
    margin: 2px;
    height: 5px;
    width: 8px;
}

input:focus{
    outline-style: none;
    box-shadow: none;
}

.imaghe{
    height: 250px;
    width: 400px;
}

.txt{
    height: 250px;
    width: 700px;
    border-radius: 17px;
    text-align: left;
    padding: 18px;
    background-color: #e5d8ff ;
    font-family: sans-serif;
    font-size: 16px;
}
.container{
 padding: 20px;
}

.upper-container{
    height: 320px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mid-container{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-around;
}

.box {
    height: 100px;
    width: 220px;
    color: #FFFFFF;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    border-radius: 18px;
    box-shadow: 3px 6px 5px lightgrey;
}

#box1{
    background-color: #929DFF;
}

#box2{
    background-color: #734CF2;
}

#box3{
    background-color: #D288FF;
}

#box4{
    background-color: #000000;
}

.lower-container{
    display: flex;
    background-color: #483EFF;
    justify-content: space-around;
    padding: 20px 40px;
    height: 250px;
    font-family: sans-serif;
}

.cont-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
    height: 190px;
    padding-top: 10px;
}

.cont-right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: white;
    padding: 15px 30px;
    border-radius: 5px;
}

.data {
    display: flex;
    width: 70%;
    height: 25%;
    border: 1.5px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: white;
    padding: 2px 3px;
}

.info{
    color: #000000;
    background-color: #bce0f6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    padding: 3px 15px;
    font-size: 14px;
}

.identity{
 display: flex;
 gap: 10px;
}

.first{
    font-weight: 700;
}

.next{
    display: flex;
    justify-content: flex-end;
}

.nxt {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 30px;
    width: 100px;
    justify-content: center;
    gap:6px;
    border-radius: 5px;
}

.arrow {
    width: 18px;
    height: 10px;
}

.support{
    position: fixed;
    top: 420px;
    right: 41px;
    height: 100px;
}

.socialll{
    height: 120px;
}

.social{
    position: fixed;
    right: 5px;
    top: 30%;
}